# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

**/.DS_Store
**/__pycache__
**/.venv
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vscode
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/dist
**/media
**/static
**/.env.example
**/.ruff_cache
LICENSE
README.md
README.Docker.md