<div class="flex flex-col">
  <label for="{{id}}" class="mb-1 mt-2 text-sm font-normal leading-7">{{label}}</label>
  <div>
    <input
      id="{{id}}"
      name="{{name}}"
      type="{{type}}"
      maxlength="{{maxlength}}"
      minlength="{{minlength}}"
      placeholder="{{placeholder}}"
      value="{{value}}"
      {{disabled}}
      {{required}}
      class="w-full rounded-md border-2 border-light-secondary px-[14px] py-2 text-base font-light placeholder-light-secondary focus:border-2 focus:border-primary focus:ring-0"
    />
  </div>
</div>
